@model IEnumerable<YJK2237A3.Models.ArtistBaseViewModel>

@{
    ViewBag.Title = "Artists";
}

<h2>Artists</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
    </tr>
}

</table>
