@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 4 </h1>
    <p class="lead">This is the web application of Yujin Kim.</p>
    <p><a href="https://ykim296-wa-web524.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 4 on Azure &raquo;</a></p>
</div>
