@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment # - FirstName LastName</h1>
        <p class="lead">Write a single sentence to describe the application</p>
    </section>
    

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>Write a paragraph to explain what you learned while completing the assignment.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>Write a paragraph discussing some of the problems you ran in to while completing the assignment.</p>
        </section>
    </div>
</main>