@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        This is a website for Concert Halls.
        This is the first Assignment of the WEB524 course in Fall 2023.
    </p>
</main>