@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 6 - Yujin Kim</h1>
        <p class="lead">Last Assignment for WEB524</p>
        <p><a href="https://ykim296-wa-web524-a5.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
    </section>


    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>I learned a great deal while working on assignments 5 and 6. One key insight is that data formats can be incredibly diverse, and it's crucial to pay attention to their interconnections. Additionally, I discovered that after linking data, it's possible to add new attributes without having to erase and re-enter all the data. This approach can also accommodate uploadable data types like photos, audio, and videos. Throughout all the assignments, I found myself deeply interested in the ASP.NET course. Even after the semester ends, I plan to continue focusing on and studying this language. A significant part of this interest can be attributed to the professor's role. Thank you.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>
                Honestly, I faced numerous challenges. Firstly, despite understanding the relationships between data, I found it difficult to map them accurately without missing any details when transferring data from page to page. Time-consuming was also an issue, especially when fixing incomprehensible errors. For instance, while adding an episode and selecting a genre on one page caused no errors, doing the same on the Show page resulted in errors, which were challenging to resolve. Surprisingly, even though the same code was used in both instances, it's still baffling why one would result in errors and not the other. Additionally, I regret not spending more time on the file uploading process.

            </p>
        </section>
    </div>
</main>