@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 3 - Yujin Kim</h1>
        <p class="lead">This is application, dealing with playlists and tracks</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>One of the key learning outcomes for me was mastering the technique of manipulating and organizing various data types within a web application. I gained practical experience in adding and updating interrelated data, which is a fundamental skill in backend development.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>The most difficult part for me was the edit part of the playlist. At this time, it had to be saved even when track was zero, but at this time, it was a little tricky to deal with null. It was also complicated by data modeling, controllers, and manager.cs . So it was difficult to see where the problem occurred when problems such as not being saved or null returned on the way. However, I was able to spot it a little bit faster using Debug.WriteLine().</p>
        </section>
    </div>
</main>